@model IEnumerable<Contact>
@{
    ViewData["Title"] = "Home Page";
}
<div class="clo-6 text-end">
    <a asp-controller="Home" asp-action="Create" class="btn btn-primary">
        Create New Contact
    </a>
</div>
<div class="text-center">
    <h1 class="display-4">All Contacts</h1>
    <table style="border-style:solid">
        <tr style="border-style:solid">
            <th width="15px" style="border-style:solid">Name</th>
           <th>Email</th>
           <th>Phone</th>
           <th></th>
       </tr >
        @foreach( var obj in Model)
        {
            <tr style="border-style:solid">
               <td width="50%">@obj.Name</td>
                <td width="50%">@obj.Email</td>
                <td width="50%">@obj.Phone</td>
                <td>
                    <a asp-controller="Home" asp-action="Edit" asp-route-id="@obj.ID" class="btn btn-primary" style="width:100px">
                        Edit
                    </a>
                    <a asp-controller="Home" asp-action="Delete" asp-route-id="@obj.ID" class="btn btn-danger" style="width:100px">
                        Delete
                    </a>
                </td>
           </tr>

        }
    </table>
</div>
